@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

body {
  font-family: "Roboto", "sans-serif";
  background: #0b0f14;
}

.join {
  height: 100vh;
  background: transparent;
}

.logo {
  margin-bottom: 1.5rem;
  color: #f5eecb;
  font-size: 3rem;
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.c {
  color: #7df7f5;
}

.navigation a {
  position: relative;
  font-size: 1.6rem;
  color: #98f8f5;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #98f8f5;
  border-width: 5px;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navigation a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.join-cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(fbg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.join-form {
  background: transparent;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  height: 350px;
  backdrop-filter: blur(20px);
  box-shadow: 10px 14px 20px #062339;
}

.join-form h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  color: #7fc9c8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.join-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(133, 107, 188, 0.5);
  border-radius: 4px;
  font-size: 1rem;
  background: transparent;
  transition: background-color 0.3s ease;
  outline: none;
  border-radius: 15px;
  font-size: 15px;
  color: #f8e9ce;
  padding: 10px;
  transition: all 0.4s;
  margin-bottom: 1.5rem;

  &:hover {
    border: 2px solid rgba(172, 135, 252, 0.5);
    background-color: #7f61cf35;
  }
}

.join-form input::placeholder {
  color: rgba(211, 206, 241, 0.407);
}

.join-form input:focus {
  border: 2px solid rgb(119, 149, 168);
}

.join-form button {
  margin-top: 1rem;
  width: 100%;
  height: 40px;
  background-color: #453edccc;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  color: rgb(229, 215, 189);
  backdrop-filter: blue(20px);
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(-5px);
  margin-bottom: 0.5rem;
}

.join-form button:hover {
  background-color: #ba93da52;
  color: #13d1ea;
}

.join-form .button:active {
  transform: translateY(0px);
}

.msg {
  color: #a985ab;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.join-form .uid {
  position: relative;
  font-size: 1rem;
  color: #a985ab;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.join-form .uid:hover {
  color: #eb98d9;
}

.join-form .uid::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: #eb98d9;
  border-width: 2px;
  bottom: 0px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.join-form .uid:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.editor-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  padding: 1.5rem;
  background: linear-gradient(155deg, #191920 0%, #1b1e24 70%);
  color: #ecf0f1;
  position: relative;
  /* overflow-x: auto; */
}

.sidebar .room-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar .room-info h2 {
  font-size: 1, 2rem;
  color: #cbd4f0;
}

.sidebar .room-info .rd {
  margin-bottom: 1.1rem;
  font-size: 1;
  color: #cbd4f0;
}

.sidebar .room-info .copy-button {
  padding: 0.5rem 1rem;
  background-color: #3786d5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2.5rem;
}

.sidebar .room-info .copy-button:hover {
  background-color: #1665b5;
}

.sidebar .room-info .copy-success {
  margin-left: 0.5rem;
  color: #83d4e7;
  font-size: 0.8rem;
}

.sidebar h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #cbd4f0;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: rgb(230, 219, 199);
  background: rgb(46, 56, 73);
  margin-top: 5px;
  border-radius: 5px;
  font-size: 1rem;

  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgb(36, 43, 55);
  }
}

.sidebar .typing-indicator {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: rgb(241, 229, 206);
}

.sidebar .language-selector {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(46, 56, 73);
  color: rgb(241, 218, 202);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 0.9rem;
}

.sidebar .language-selector:hover {
  background-color: rgb(36, 43, 55);
}

.lang {
  margin-top: 1.5rem;
}

.sidebar .leave-button {
  position: absolute;
  width: 80%;
  padding: 0.75rem;
  background-color: #ea412e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  bottom: 1.5rem;
  left: 1.5rem;
  transition: background-color 0.3s ease;
}

.sidebar .leave-button:hover {
  background-color: #a42d20;
}

.editor-wrapper {
  flex-grow: 1;
  background-color: #0b0f14;
}

.run-btn {
  position: relative;
  margin-top: 2.1rem;
  width: 65%;
  padding: 0.65rem;
  border-radius: 50px;
  font-size: 1rem;
  background-color: rgb(36, 212, 36);
  color: #0e0c0c;
  cursor: pointer;
  left: 2rem;
  transition: background-color 0.3s ease;
}

.run-btn:hover {
  background-color: #1c8c16;
  color: rgb(0, 0, 0);
}

.output-console {
  position: relative;
  width: 100%;
  margin-top: none;
  border: none;
  color: wheat;
  background-color: #0b0e13;
  padding: 10px;
  font-size: 20px;
  height: 250px;
  overflow-y: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #73afd1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-bg {
  background: transparent;
  border-radius: 8px;
  width: 205px;
  margin: 5% auto;
}

.scroll-div {
  background: transparent;
  border-radius: 8px;
  height: 140px;
  overflow: hidden;
  overflow-y: scroll;
}
.scroll-div::-webkit-scrollbar {
  display: none;
}

.type {
  width: 201px;
  height: 5px;
  text-align: left;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .join-form {
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    height: 350px;
    backdrop-filter: blur(20px);
    box-shadow: 10px 14px 20px #062339;
  }

  footer {
    font-size: 0.9rem;
  }

  .sidebar {
    width: 100%;
    padding: 0.5rem;
    height: 100%;
    overflow-x: none;
  }

  .run-btn {
    margin-left: 13rem;
    position: relative;
    top: 17.5px;
    margin-bottom: 2rem;
    width: 45%;
    left: -7px;
    padding: 0.75rem;
  }
  .language-selector {
    margin-bottom: -1.1rem;
  }

  .sidebar .leave-button {
    position: relative;
    width: 40%;
    padding: 0.75rem;
    background-color: #ef301b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    font-weight: 650;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 7px;
    bottom: 3.75rem;
  }

  .navigation a {
    margin-left: 10px;
    font-size: 0.9rem;
  }

  .editor-container {
    flex-direction: column;
  }
  .editor-wrapper {
    margin-top: 0.5rem;
    height: 50vh;
  }
  .editor-container {
    overflow-y: auto;
  }

  .scroll-bg {
    width: 100%;
    margin: 0 auto;
  }

  .scroll-div {
    height: 80px;
  }
}
